<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>LuxeControl - {% block title %}{% endblock %}</title>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&family=Italianno&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inika&family=Inter:wght@200;300;400;500;600;700&family=Italianno&display=swap" rel="stylesheet">
    <link rel="icon" href="{{ asset('img/logo.ico') }}">
    <link rel="stylesheet" href="{{ asset('styles/app.css') }}">

    {% block css %}{% endblock %}
</head>
<body>
<div class="ui fixed inverted segment menu-top" style="margin: 0 !important;">

</div>

<div class="ui left fixed vertical menu p_sidebar">
    <div class="ui inverted secondary pointing menu menu-top">
        <a class="title-top" href="{{ path('app_home') }}">Luxe Control</a>
    </div>
    <ul>
        <li><a class="it" href="{{ path('app_dashboard') }}"> <span><i class="sidebaricon briefcase icon"></i> Dashboard</span></a></li>
        <li><a class="it" href="{{ path('app_cars') }}"> <span><i class="sidebaricon car icon"></i> Voitures</span></a></li>
        <li><a class="it" href="{{ path('app_customers') }}"> <span><i class="sidebaricon user icon"></i> Clients</span> </a></li>
        <li><a class="it" href="{{ path('app_contracts') }}"> <span> <i class="sidebaricon folder icon"></i>Contrats</span> </a></li>
        <li><a href="{{ path('app_statistics') }}" class="it"> <span><i class="sidebaricon chart pie icon"></i> Statistiques</span> </a></li>
        <li><a href="{{ path('app_settings') }}" class="it"> <span> <i class="sidebaricon cog icon"></i>Règlages</span> </a></li>
        <li><a class="it" href="{{ path('app_logout') }}"> <span><i class="sidebaricon sign-out icon"></i> Déconnexion</span> </a></li>
        <li><a href="{{ path('app_dashboard_incidents') }}"><span><i class="x icon icon"></i> Signaler</span></a></li>
    </ul>
</div>


{% block body %}{% endblock %}

{% block js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/components/api.min.js"></script>
{% endblock %}
</body>
</html>
