<div class="ui left fixed vertical menu p_sidebar">
    <a class="item" href="{{ path('app_home') }}"><i class="fa fa-home"></i> Accueil</a>
    <a class="item" href="{{ path('app_home') }}"><i class="fa fa-car"></i> Voitures</a>
    <a class="item" href="{{ path('app_customers') }}"><i class="fa fa-user"></i> Clients</a>
    <a class="item" href="{{ path('app_home') }}"><i class="fa fa-file-contract"></i> Contrats</a>
    <a class="item" href="{{ path('app_logout') }}"><i class="fa fa-door-open"></i> Se déconnecter</a>
</div>