{% extends 'Sidebar.base.html.twig' %}

{% block title %}Liste des voitures{% endblock %}



{% block body %}

    <div class="ui container">

        <h1 class="header inika">Liste des voitures</h1>

        <p>{{ cars_list|length }} voitures au total</p>

        <a href="{{ path('app_create_car') }}">
            <button class="ui clr_bg button">
                <i class="plus icon"></i>
                Nouvelle
            </button>
        </a>

        <br><br>

        <table class="ui celled table">
            <thead class="tr-head">
            <tr class="tr-head">
                <th>Voir</th>
                <th>Marque</th>
                <th>Modèle</th>
                <th>Année</th>
                <th>Couleur</th>
                <th>KMs</th>
                <th>Puissance (ch)</th>
                <th>Prix journalier</th>
                <th>Prix de vente</th>
                <th>Etat</th>
            </tr>
            </thead>
            <tbody>
            {% for car in cars_list %}
                <tr {{ car.selled ? 'style="background-color: #ce8388;"' : '' }}>
                    <td class="center aligned card"><a href="{{ path('app_edit_car', {'id': car.id}) }}"><i class="blue eye icon"></i></a></td>

                    <td>{{ car.brand.name }}</td>
                    <td>{{ car.model }}</td>
                    <td>{{ car.year }}</td>
                    <td>{{ car.color }}</td>
                    <td>{{ car.km }}</td>
                    <td>{{ car.horsepower }}</td>
                    <td>{{ car.dayprice|format_currency('EUR') }}</td>
                    <td>{{ car.buyprice|format_currency('EUR') }}</td>
                    <td>{{ car.selled ? 'Vendue' : '' }}</td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
        <br><br><br>
    </div>

{% endblock %}