{% extends 'Sidebar.base.html.twig' %}

{% block title %}Gestion des incidents{% endblock %}


{% block body %}

    <div class="ui container">
        <h3 class="ui header">
            Nouvel incident
        </h3>

        <form method="POST" class="ui form">
            {{ form_start(incidentForm) }}

                <div class="field">
                    <label for="incidents_subject">Sujet</label>
                    {{ form_row(incidentForm.subject) }}
                </div>

                <div class="field">
                    <label for="incidents_message">Message</label>
                    {{ form_row(incidentForm.message) }}
                </div>

                <div class="field">
                    {{ form_row(incidentForm.submit, {
                        'label': 'Créer'
                    }) }}
                </div>
            
            {{ form_end(incidentForm) }}
        </form>
    </div>

{% endblock %}