{% extends 'Sidebar.base.html.twig' %}

{% block title %}Client : {{ customer.name }}{% endblock %}

{% block body %}

    <div class="ui container">
        <h1 class="header inika">Client : {{ customer.name }}</h1>

        <a href="{{ path('app_delete_customer', {'id': customer.id}) }}">
            <button class="ui red button">Supprimer</button>
        </a>

        {{ component('Hr', { icon: 'circle info', text: 'Informations générales' }) }}

        <div class="ui form">
            {{ form_start(editCustomerForm) }}

            <div class="three fields">
                <div class="field">
                    <label for="customer_name">Nom ou raison sociale</label>
                    {{ form_row(editCustomerForm.name) }}
                </div>

                <div class="field">
                    <label for="customer_email">Email</label>
                    {{ form_row(editCustomerForm.email) }}
                </div>

                <div class="field">
                    <label for="customer_phone">Numéro de téléphone</label>
                    {{ form_row(editCustomerForm.phone) }}
                </div>
            </div>

            <div class="three fields">
                <div class="field">
                    <label for="customer_address">Adresse</label>
                    {{ form_row(editCustomerForm.address) }}
                </div>

                <div class="field">
                    <label for="customer_cp">Code Postal</label>
                    {{ form_row(editCustomerForm.pc) }}
                </div>

                <div class="field">
                    <label for="customer_city">Ville</label>
                    {{ form_row(editCustomerForm.city) }}
                </div>
            </div>

            <div class="two fields">
                <div class="field">
                    <label for="customer_website">Site web</label>
                    {{ form_row(editCustomerForm.website) }}
                </div>

                <div class="field">
                    <label for="customer_rib">RIB</label>
                    {{ form_row(editCustomerForm.rib) }}
                </div>
            </div>

            <div class="field">
                <label for="customer_comment">Commentaire</label>
                {{ form_row(editCustomerForm.comment) }}
            </div>

            <div class="field">
                <div class="ui checkbox">
                    {{ form_widget(editCustomerForm.pro, {
                        'attr': {
                            'class': 'form-pro-check'
                        }
                    }) }}
                    <label for="customer_pro">Pro</label>
                </div>
            </div>

            <div class="two fields">
                <div class="field form-pro-siret">
                    <label for="customer_siret">SIRET</label>
                    {{ form_row(editCustomerForm.siret) }}
                </div>

                <div class="field form-pro-bic">
                    <label for="customer_bic">BIC</label>
                    {{ form_row(editCustomerForm.bic) }}
                </div>
            </div>

            <div class="field">
                {{ form_row(editCustomerForm.sub_customer, {
                    'label': "Modifier"
                }) }}
            </div>

            {{ form_end(editCustomerForm) }}

        </div>

        <table class="ui celled table">
            <thead class="tr-head">
            <tr class="tr-head">
                <th>Action</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Fonction</th>
            </tr>
            </thead>
            <tbody>


                    <tr class="ui form">
                        {{ form_start(addContactForm) }}

                        {{ form_errors(addContactForm) }}
                        <td>
                            <div class="field center aligned card">
                                {{ form_row(addContactForm.sub, {
                                    'label': 'Ajouter'
                                }) }}
                            </div>
                        </td>
                        <td>
                            <div class="field">
                                {{ form_row(addContactForm.firstname) }}
                            </div>
                        </td>
                        <td>
                            <div class="field">
                                {{ form_row(addContactForm.lastname) }}
                            </div>
                        </td>
                        <td>
                            <div class="field">
                                {{ form_row(addContactForm.function) }}
                            </div>
                        </td>

                        {{ form_row(addContactForm.email, {
                            'attr': {
                                'hidden': true
                            }
                        }) }}
                        {{ form_row(addContactForm.phone, {
                            'attr': {
                                'hidden': true
                            }
                        }) }}
                        {{ form_row(addContactForm.comment, {
                            'attr': {
                                'hidden': true
                            }
                        }) }}

                        {{ form_end(addContactForm) }}
                    </tr>
                    {{ component('Hr', { icon: 'users', text: 'Contacts' }) }}

                    {% for contact in contactsCustomers %}
                <tr>

                    <td class="center aligned card"><a href="{{ path('app_edit_contact', {'id': contact.id}) }}"><i class="blue eye icon"></i></a></td>
                    <td>
                        {{ contact.firstname }}
                    </td>

                    <td>{{ contact.lastname }}</td>
                    <td>{{ contact.function }}</td>
                </tr>

                {% endfor %}
            </tbody>
        </table>
        <br><br>
    </div>

{% endblock %}


{% block js %}
    <script src="{{ asset('js/app.js') }}"></script>
{% endblock %}