{% extends 'base.html.twig' %}

{% block css %}

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/components/menu.min.css">

{% endblock %}

{% block title %}Fiche du contact {{ contact.firstName }}{% endblock %}


{% block body %}

	{{ component('Sidebar') }}

	<div class="ui container">
		<h1 class="header inika"><span class="locker locked"><i class="lock icon"></i></span> Fiche contact : {{ contact.firstName }}</h1>

		<div class="ui form">
			<form method="POST">
				<h4 class="ui dividing header">Informations du contact</h4>

				<div class="three fields">
					<div class="field">
						<label for="firstname">Prénom</label>
						<input type="text" name="firstname" id="firstname" value="{{ contact.firstName }}" disabled>
					</div>

					<div class="field">
						<label for="lastname">Nom</label>
						<input type="text" name="lastname" id="lastname" value="{{ contact.lastName }}" disabled>
					</div>

					<div class="field">
						<label for="function">Fonction</label>
						<input type="text" name="function" id="function" value="{{ contact.function }}" disabled>
					</div>
				</div>

				<div class="field">
					<label for="comment">Commentaire</label>
					<textarea name="comment" id="comment" disabled>{{ contact.comment }}</textarea>
				</div>

				<input disabled class="ui olive button" name="sub_edit_contact" type="submit" value="Mettre à jour">

			</form>
		</div>
	</div>



{% endblock %}


{% block js %}
	<script src="{{ asset('js/locker_customer.js') }}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/components/tab.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/components/api.min.js"></script>
{% endblock %}