{% extends 'Sidebar.base.html.twig' %}

{% block title %}Client : {{ customer.name }}{% endblock %}

{% block body %}

    <div class="ui container">
        <h1 class="header inika">Client : {{ customer.name }}</h1>

        <a href="{{ path('app_delete_customer', {'id': customer.id}) }}">
            <button class="ui red button">Supprimer</button>
        </a>

        {{ component('Hr', { icon: 'circle info', text: 'Informations générales' }) }}

        <div class="ui form">
            {{ form_start(editCustomerForm) }}

            <div class="three fields">
                <div class="field">
                    <label for="customer_name">Nom ou raison sociale</label>
                    {{ form_row(editCustomerForm.name) }}
                </div>

                <div class="field">
                    <label for="customer_email">Email</label>
                    {{ form_row(editCustomerForm.email) }}
                </div>

                <div class="field">
                    <label for="customer_phone">Numéro de téléphone</label>
                    {{ form_row(editCustomerForm.phone) }}
                </div>
            </div>

            <div class="three fields">
                <div class="field">
                    <label for="customer_address">Adresse</label>
                    {{ form_row(editCustomerForm.address) }}
                </div>

                <div class="field">
                    <label for="customer_cp">Code Postal</label>
                    {{ form_row(editCustomerForm.pc) }}
                </div>

                <div class="field">
                    <label for="customer_city">Ville</label>
                    {{ form_row(editCustomerForm.city) }}
                </div>
            </div>

            <div class="two fields">
                <div class="field">
                    <label for="customer_website">Site web</label>
                    {{ form_row(editCustomerForm.website) }}
                </div>

                <div class="field">
                    <label for="customer_rib">RIB</label>
                    {{ form_row(editCustomerForm.rib) }}
                </div>
            </div>

            <div class="field">
                <label for="customer_comment">Commentaire</label>
                {{ form_row(editCustomerForm.comment) }}
            </div>

            <div class="ui checkbox">
                {{ form_widget(editCustomerForm.pro) }}
                <label for="customer_pro">Pro</label>
            </div>

            <div class="two fields">
                <div class="field form-pro-siret">
                    <label for="customer_siret">SIRET</label>
                    {{ form_row(editCustomerForm.siret) }}
                </div>

                <div class="field form-pro-siret">
                    <label for="customer_bic">BIC</label>
                    {{ form_row(editCustomerForm.bic) }}
                </div>
            </div>

            <div class="field">
                {{ form_row(editCustomerForm.sub_customer, {
                    'label': "Modifier"
                }) }}
            </div>

            {{ form_end(editCustomerForm) }}

        </div>





    </div>

{% endblock %}


{% block js %}
    <script>
        $('.ui.checkbox').checkbox();

        let formProCheck = document.querySelector('.form-pro-check')

        let showProInfos = () => {
            $('.form-pro-siret').show();
            $('.form-pro-bic').show()
        }

        let hideProInfos = () => {
            $('.form-pro-siret').hide()
            $('.form-pro-bic').hide()
        }
        hideProInfos()

        formProCheck.addEventListener('change', () => {
            if($(formProCheck).is(':checked')) {
                showProInfos()
            } else {
                hideProInfos()
            }
        })
    </script>
{% endblock %}