{% extends 'Sidebar.base.html.twig' %}

{% block title %}Modifier la marque {{ brand.name }}{% endblock %}

{% block body %}

    <div class="ui container">
        <h1 class="header inika">Modifier la marque : {{ brand.name }}</h1>

        <a href="{{ path('app_settings_delete_brand', {'id': brand.id}) }}">
            <button class="ui red button">Supprimer</button>
        </a><br><br>

        <div class="ui form">
            {{ form_start(createBrandForm) }}

            <div class="field">
                <label for="createBrandForm_name">Nom de la marque</label>
                {{ form_row(createBrandForm.name) }}
            </div>

            <div class="field">
                {{ form_row(createBrandForm.sub, {
                    'label': 'Mettre à jour'
                }) }}
            </div>

            {{ form_end(createBrandForm) }}
        </div>

    </div>

{% endblock %}